<form class="form-horizontal" role="form">
    <div class="alert alert-info">Edit User</div>

    <div class="form-group">
        <label for="name" class="col-sm-1 control-label">Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="name" placeholder="" required autofocus ng-model="user.name">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-1 control-label">Email</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="email" placeholder="" required autofocus ng-model="user.email">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-1 control-label">Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" name="password" required ng-model="user.password" placeholder="">
        </div>
    </div>

    <div class="form-group">
        <label for="role" class="col-sm-1 control-label">Role</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="role" required ng-model="user.role" placeholder="">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-6">
            <button class="btn btn-success" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="revert()">Revert Changes</button>
            <button class="btn btn-warning" ng-click="remove()">Remove</button>
        </div>
    </div>
</form>