<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users" ng-click="edit(user)">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>
                <button class="btn btn-default btn-danger remove" ng-click="remove(user, $index, $event)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="well">
    <button class="btn" ng-click="new()">New User</button>
</div>
