{% extends 'layout.html' %} 
{% block title %}Admin{% endblock %} 

{% block head %} {% parent %}
<!-- Lib -->
<script type="text/javascript" src="/admin/admin.js"></script>
<script type="text/javascript" src="/admin/user/user.js"></script>
{% endblock %} 

{% block body %}

<body ng-app="admin" ng-controller="AdminController">
    <div class="container-fluid">
        <div ng-repeat="(name, link) in tpls">
            <div ng-include="link"></div>
        </div>
        <div ng-view></div>
    </div>
</body>
{% endblock %}

