<style>
    .grid {
        width: auto;
        height: 500px;
    }
</style>


<div class="row">
    <div class="col-md-1 col-sm-1">
        <div>Time Unit</div>
        <select ng-model="time_unit" ng-options="label for label in time_units" ng-change="updateTable()">

        </select>
    </div>
    <div class="col-md-3 col-sm-6">
        <div>From</div>
        <p class="input-group">
            <input type="text" disabled class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="from.date" ng-change="formatDate(from)" is-open="from.opened" ng-required="true" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, from)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
    <div class="col-md-3 col-sm-6">
        <div>To</div>
        <p class="input-group">
            <input type="text" disabled class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="to.date" ng-required="true" is-open="to.opened" ng-change="formatDate(to)" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,to)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
    <div class="col-md-2 col-sm-6">
        <div>&nbsp;</div>
        <input type="button" class="btn btn-default" ng-click="updateTable()" value="Update Table" />
    </div>
    <div class="col-md-12 col-sm-11">
        &nbsp;
    </div>
    <div class="col-md-12 col-sm-11">
        <div ui-grid="options"></div>
    </div>

</div>

