<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>Code</th>
            <th>Fee</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="course in courses" ng-click="edit(course)">
            <td>{{course.code}}</td>
            <td>{{course.fee}}</td>
            <td>
                <button class="btn btn-success" ng-click="register(course, $index, $event)">
                    Register
                </button>
            </td>
        </tr>
    </tbody>
</table>