<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>Code</th>
            <th>Fee</th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="course in myCourses">
            <td>{{course.code}}</td>
            <td>{{course.fee}}</td>            
            <td>
                <button class="btn btn-success" ng-click="unregister(course, $index, $event)">
                    Unregister
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="well">
    <button class="btn" ng-click="action('register')">Register</button>
</div>
